.signUpContainer{
   /*min-width: 100vw !important;*/
	/*min-height: 100vh !important;*/
    padding: 50px;
}

.signUpForm{
    /*min-width: 100vw !important;*/
	/*min-height: 100vh !important;*/
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px){
	.signUpContainer{
	    /*min-width: 500px;*/
    	/*min-height: 500px;*/
	    padding: 50px;
	}

	.signUpForm{
	    
	    display: flex;
	    flex-direction: column;
	}

}